.daytime_background {
    background: url('../images/desktop/bg-image-daytime.jpg') no-repeat; background-size: cover; position: relative;
    #hidden_section {color: #303030}
    #hidden_section {background: rgba(255, 255, 255, .7);}
    #first_stats_block {border-color: rgba(48,48,48,.2)}
    .greetings {position: relative}
    .greetings::after {content: ''; position: absolute; top: 0; bottom: 0; left: 0;  background: url('../images/desktop/icon-sun.svg'); height: 24px; width: 24px}
}
.daytime_background::after {content: ''; position: absolute; top: 0; bottom: 0; right: 0; left: 0; background: rgba(0, 0, 0, .4); z-index: -1}

@media screen and (max-width: 768px) {
    .daytime_background {
        background: url('../images/tablet/bg-image-daytime.jpg') no-repeat; background-size: cover;
        .dark_border {border-color: transparent;}
    }
}
@media screen and (max-width: 375px) {
    .daytime_background {background: url('../images/mobile/bg-image-daytime.jpg') no-repeat; background-size: cover}
}